# Visual Studio Code
.vscode/

# Dependencies
/node_modules

# GitHub
/.github

# postman
/postman

# Environment variables (contains sensitive data)
.env

# Test coverage
/coverage

# Logs
*.log
npm-debug.log*